<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />

    <title>APP - Escribe</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="page active" >
      <p>Escribe anónimamente y tus palabras podán ser proyectadas junto a las de otros escritores<br/><br/></p>
      <a href="javascript: void(0);" class="next">Escribir</a>
    </div>

    <div class="page" >
      <h4>Pregunta 1/2</h4>
      <h3>¿Por qué lees?<br/><br/></h3>
      <a href="javascript: void(0);" class="next">Escribir</a>
    </div>

    <div class="page" >
      <h4>Respuesta 1/2</h4>
      <p>Completa la frase:</p>
      <p>Leo porque…</p>
      <p>(5 palabras máximo<br/><br/></p>
      <a href="javascript: void(0);" class="next">Escribir</a>
    </div>

    <div class="page neg" >
      <h4>Respuesta 1/2</h4>
      <p>Leo porque <span contenteditable="true">vivir sin leer es peligroso</span><br/><br/></p>
      <a href="javascript: void(0);" class="next send">Enviar</a>
    </div>

    <div class="page" >
      <p>¡Gracias! ¿Quieres responder una pregunta más?</p>
      <a href="javascript: void(0);" class="next">Sí, claro</a>
    </div>

    <div class="page" >
      <h4>Pregunta 2/2</h4>
      <h3>¿Por qué escribes?</h3>
      <a href="javascript: void(0);" class="next">Escribir</a>
    </div>

    <div class="page" >
      <h4>Respuesta 2/2</h4>
      <p>Completa la frase:</p>
      <p>Escribo porque…</p>
      <p>(5 palabras máximo)</p>
      <a href="javascript: void(0);" class="next">Escribir</a>
    </div>

    <div class="page neg" >
      <h4>Respuesta 2/2</h4>
      <p>Escribo porque <span contenteditable="true">me escucho</span></p>
      <a href="javascript: void(0);" class="next send">Enviar</a>
    </div>

    <div class="page" >
      <p>Gracias por participar en la Vigésima edición de la Noche de los Libros</p>
      <p><br/>Tus palabras se proyectarán en breve.</p>
      <h5>Una experiencia interactiva, lúdica y participativa de @goni-studio</h5>
    </div>
    <script src="./main.js" type="module"></script>
  </body>
</html>
